<h1 align="center">Your article entries are listed below</h1>

<div align="center">
	<div class="pagination justify-content-center">
		<%= will_paginate @articles %>
	</div>
</div>

<%= render 'article', obj: @articles %>
<div align="center">
	<div class="pagination justify-content-center">
		<%= will_paginate @articles %>
	</div>
</div>
