<% if obj.errors.any? %>
	<div class="col-sm-10 offset-sm-2">
		<div class="card text-white bg-danger mb-3">
			<div class="card-body">
				<h2 class="card-title">
					<%= pluralize(obj.errors.count, "error") %>
					prohibited this article from being saved:
				</h2>
				<div class="card-text">
					<ul>
						<% obj.errors.full_messages.each do |msg| %>
							<li> <%= msg %> </li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
<%end%>
<br/>
