<h1> This is also supposed to be the homepage </h1>

<p> If only there was an easier method of creating html webpages wherein all of the html data could be made by the computer itself and users would only have to create webpage only based on GUI tools instead of typing all of the data, it would make life so much easier for everyone, especially noobs </p>

<h3>This is not a rant, no views are meant to hurt anyone</h3>
